body {
  font-family: sans-serif;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  width: 60px;
  height: 60px;
  /*remove this when you are done!*/
  border: solid 1px;
  text-align: center;
  line-height: 1em;
  font-family: Helvetica;
  font-size: 30px;
}
#progress-bar-container {
  height: 16px;
  width: 100%;
  border: 1px solid black;
}
#progress-bar {
  height: 16px;
  background-color: rgb(66, 190, 216);
  width: 0%;
}
